<html>
  <head>
    <title>Nouveau potin créé</title>
  </head>
  <body>
    <h1>Et voilà ! Tu as créé un nouveau potin</h1>
    <p>A présent, retourne donc à la <a href="/">page d'accueil</a>.</p>
  </body>
</html>