<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new' method='POST'>
      <label>Saisis ici ton nom:</label><input type='text' name='gossip_author'/><br/>
      <label>Balance ton potin:</label><input type='text' name='gossip_content'/><br/>
      </br>
      <input type='submit' value="Enregistrer"/>
    </form>
    </br>
    <span>Pour revenir à la page d'accueil, sans créer de potin, clique donc <a href="/">ici</a>.</span>
  </body>
</html>