<html>
  <head>
    <title>Potin n°<%=params['id']%> supprimé</title>
  </head>
  <body>
    <h1>Bam ! Le potin demandé (n°<%=params['id']%>) a été supprimé DEFINITIVEMENT...</h1>
    <p>A présent, retourne donc à la <a href="/">page d'accueil</a>, gros(se) malin(e)!</p>
  </body>
</html>