<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>

    <h1>Voici le potin n° <%=gossip.id.to_s%>!</h1>
      <p><strong>ID:</strong> <%= gossip.id.to_s %></p>
      <p><strong>Author:</strong> <%= gossip.author %></p>
      <p><strong>Content:</strong> <%= gossip.content %></p>
     
    <span>Pour revenir à la page d'accueile, clique donc <a href="/">ici</a>.</span>

  </body>
</html>